# Test with Jupyter Notebook

In [1]:
x = 0

In [2]:
y = 1

In [3]:
z = x + y

In [4]:
print("Z is", z)

Z is 1

Aqui um exmplo útil: 

Aqui iremos plotar uma tabela fake.

In [6]:
import pandas as pd

In [8]:
df = pd.DataFrame({ 'CIDADE': [ 'Curitiba', 'São Paulo', 'Rio de Janeiro' ], 'VIOLÊNCIA': [ 30, 30, 40 ] })

In [9]:
df

           CIDADE  VIOLÊNCIA
0        Curitiba         30
1       São Paulo         30
2  Rio de Janeiro         40